@model RecolhakiWeb.ViewModels.DisponibilizarMaterialViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DisponibilizarMaterialViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDoacaoMaterialReciclavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDoacaoMaterialReciclavel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataManifestacaoInteresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataManifestacaoInteresse)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id= Model.IdDoacaoMaterialReciclavel}) |
    <a asp-action="Index">Back to List</a>
</div>
