@model IEnumerable<RecolhakiWeb.ViewModels.AutorizarColetorViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ColetorIdColetor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAutorizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusAutorizacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ColetorIdColetor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAutorizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusAutorizacao)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ColetorIdColetor }) |
                @Html.ActionLink("Details", "Details", new { id=item.ColetorIdColetor }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ColetorIdColetor })
            </td>
        </tr>
}
    </tbody>
</table>
