@model RecolhakiWeb.ViewModels.NotificarProblemaViewModel

@{
    ViewData["Title"] = "Mais detalhes da notificação de problema";
}

<h1>Details</h1>

<div>
    <h4>NotificarProblemaViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPessoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNotificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNotificacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeMaterialReciclavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeMaterialReciclavel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataManifestacaoInteresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataManifestacaoInteresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.IdNotificacao  }) |
    <a asp-action="Index">Back to List</a>
</div>
