@model IEnumerable<RecolhakiWeb.ViewModels.NotificarProblemaViewModel>

@{
    ViewData["Title"] = "Notificação do Problema";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNotificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeMaterialReciclavel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataManifestacaoInteresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPessoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNotificacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeMaterialReciclavel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataManifestacaoInteresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdNotificacao }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdNotificacao }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdNotificacao })
            </td>
        </tr>
}
    </tbody>
</table>
