@model RecolhakiWeb.ViewModels.MaterialreciclavelViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MaterialreciclavelViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMaterialReciclavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMaterialReciclavel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PesoAproximado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PesoAproximado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataSolicitacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataSolicitacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusColeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusColeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusNotificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusNotificacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataColeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataColeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNotificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNotificacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataManifestacaoInteresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataManifestacaoInteresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPessoaColetor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPessoaColetor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPessoaDoador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPessoaDoador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpresa)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdMaterialReciclavel }) |
    <a asp-action="Index">Back to List</a>
</div>
