@model IEnumerable<RecolhakiWeb.ViewModels.AvaliacaoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAvaliacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmoje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PessoaIdPessoa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAvaliacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmoje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaIdPessoa)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IdAvaliacao }) |
                @Html.ActionLink("Details", "Details", new { id=item.IdAvaliacao }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IdAvaliacao })
            </td>
        </tr>
}
    </tbody>
</table>
